@import "mixins";
@import "vars";
@import "vendor/reset";

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  // height: 1000vh;

  &._lock {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

/* Blocks */

@import "blocks/header";
@import "blocks/problems";
