@import "mixins";
@import "vars";
@import "vendor/reset";

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  // overflow-y: hidden !important;
}

html {
  font-size: 16px;
  @include breakpoint(834px) {
    overflow-x: hidden;
  }
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;

  // height: 1000vh;

  &._lock {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

/* Blocks */

@import "blocks/header";
@import "blocks/problems";
@import "blocks/combine";
@import "blocks/be";
@import "blocks/how";
@import "blocks/try";
@import "blocks/footer";
