.be {
  // overflow-x: hidden;
  background: url("../images/be/bg.png") center/cover no-repeat;
  padding: 140px 0;

  @include breakpoint(834px) {
    padding-top: 100px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 70px;
    @include breakpoint(834px) {
      gap: 42px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @include breakpoint(600px) {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
  }

  &__block-img {
  }

  &__block-img1 {
    max-width: 332px;
    height: auto;
    width: 100%;
  }

  &__block-img2 {
    max-width: 414px;
    height: auto;
    width: 100%;
  }

  &__block-img3 {
    max-width: 409px;
    height: auto;
    width: 100%;
  }

  &__block-text {
    max-width: 382px;
    @include breakpoint(834px) {
      max-width: 276px;
    }
    @include breakpoint(600px) {
      width: auto;
      max-width: 250px;
    }
  }

  &__block-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #0c0748;

    margin-bottom: 12px;

    @include breakpoint(834px) {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.26px;
    }
    @include breakpoint(600px) {
      text-align: center;
    }
  }

  &__block-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: rgba(12, 7, 72, 0.7);

    @include breakpoint(834px) {
      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.32px;
      color: #0c0748;
      max-width: 250px;
    }
    @include breakpoint(600px) {
      text-align: center;
    }
  }

  &__block-reverse {
    display: flex;
    flex-direction: row-reverse;
    @include breakpoint(600px) {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.be > .container {
  max-width: 870px;
}
