.combine {
  margin: 90px 0px;
  background: #f9f4fe;

  position: relative;

  & > div {
    display: flex;
    justify-content: center;
  }

  &__inner {
    background: url("../images/third/bg.png") center/cover no-repeat;
    width: 1125px !important;
    height: 595px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__block {
    width: 667px;
    height: 220px;

    background: #ffffff;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08),
      0px 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > a {
      // display: inline-block !important;
    }
  }

  &__text {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: #0c0748;
    max-width: 600px;

    @include breakpoint(375px) {
      font-size: 18px;
      line-height: 21px;

      max-width: 320px;
    }
  }

  &__text-bold {
    font-weight: 700;
  }
}
