.problems {
  padding: 90px 90px;

  height: 3000px;

  & > div {
    height: 100%;
    position: relative;
  }

  &__inner {
    position: sticky;
    top: calc(50% - 300px);
  }

  &__title {
    text-align: center;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;

    color: #0c0748;

    margin-bottom: 67px;
  }

  &__title-bold {
    font-weight: 700;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__left-block {
    border-radius: 16px;
    padding: 22px;
    max-width: 318px;
  }

  &__left-block-title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #0c0748;

    margin-bottom: 8px;
  }

  &__left-block-p {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #0c0748;
  }

  &__right {
  }

  &__right-img-div1 {
    display: none;
    position: relative;
    margin-right: 90px;

    opacity: 0;
    transition: all 2.3s ease;
  }

  &__right-img {
  }

  &__right-label1 {
    position: absolute;
    top: -40px;
    right: -90px;
  }

  &__right-label1-1 {
    position: absolute;
    bottom: 40px;
    left: -80px;
  }

  &__right-img-div2 {
    position: relative;
    display: none;
    margin-right: 90px;
  }

  &__right-label2 {
    position: absolute;
    top: -40px;
    right: -140px;
  }

  &__right-img-div3 {
    position: relative;
    display: none;
    margin-right: 90px;
  }

  &__right-label3 {
    position: absolute;
    top: -40px;
    right: -140px;
  }

  &__right-label3-3 {
    position: absolute;
    bottom: 20px;
    left: -90px;
  }
}

.bg {
  background: rgba(227, 207, 255, 0.2) !important;
  transition: all 0.3s ease;
}

.display {
  // animation: anim 0.5s ease;
  display: block !important;
  opacity: 1;

  transition: opacity 0.5s ease;
}

.triger {
  position: absolute;
  top: 0px;
  left: 0;
}
.triger1 {
  position: absolute;
  top: 1000px;
  left: 0;
}

.triger2 {
  position: absolute;
  top: 2000px;
  left: 0;
}

.prob {
  position: relative;
  height: 100%;
}

@keyframes anim {
  0% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
  }
}
