<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <img
          src="assets/images/first/logoFull.svg"
          alt=""
          class="header__img footer__img"
        />
        <p class="footer__p">
          Deal with stress, low moods and anxiety with InnerSense app
        </p>
        <div class="footer__social">
          <a
            href="https://link.innersense.app/1uQz/jiczaxml"
            target="_blank"
            class="footer__social-download"
          >
            <img
              src="assets/images/footer/download.svg"
              alt=""
              class="footer__social-download-img"
            />
          </a>
          <div class="footer__social-socials">
            <a
              href="https://instagram.com/innersenseapp"
              target="_blank"
              class="footer__social-social"
            >
              <img
                src="assets/images/footer/inst.svg"
                alt=""
                class="footer__social-social-img"
              />
            </a>
            <a
              href="https://www.facebook.com/innsersense"
              target="_blank"
              class="footer__social-social"
            >
              <img
                src="assets/images/footer/fb.svg"
                alt=""
                class="footer__social-social-img"
              />
            </a>
            <a
              href="https://twitter.com/innersenseapp"
              target="_blank"
              class="footer__social-social"
            >
              <img
                src="assets/images/footer/tw.svg"
                alt=""
                class="footer__social-social-img"
              />
            </a>
          </div>
        </div>
        <div class="footer__nbs">© 2022 NBS Apps Inc</div>
      </div>
      <div class="footer__bottom">
        <a href="/terms" class="footer__bottom-link">Terms & Conditions</a>
        <a href="/privacy" class="footer__bottom-link">Privacy Policy</a>
        <a href="mailto:hello@nbs.vc" class="footer__bottom-link">Contact us</a>
      </div>
    </div>
  </div>
</footer>