<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <meta content="InnerSense — Anxiety Therapy" property="og:title" />
    <meta
      property="og:description"
      content="You deserve to be happy. Find your inner sense of life, peace, and happiness. Deal with stress, burnout, low moods, and anxiety with the InnerSense app."
    />
    <meta property="og:image" content="assets/images/ogimage.png" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="562" />
    <meta property="og:url" content="https://innersense.app" />

    <meta
      content="cbt, mental health, anxiety, mood diary, therapy, burnout, "
      property="keywords"
    />
    <meta name="description" content="InnerSense is a mobile app with CBT mental health practices that help to overcome anxiety, burnout, and low self-esteem. Deal with stress, burnout, and low self-esteem using a scientifically based approach."/>
    <meta name="robots" content="index, follow" />
  </head>
  <body class="default-hero">
    <!-- Header -->
    {{> header }}

    <!-- Main -->
    <main class="main">{{> body }}</main>

    <!-- Footer -->
    {{> footer }}

    <!-- JS -->
    <script src="assets/js/app.js"></script>
  </body>
</html>
